## PYTHON WEEK - 1

## BASICS

### Print Statement

In [1]:
#print statement

print("Python week-1 practice")

#print(" ") - what are all the lines given within the double quotes, it'll print as output

Python week-1 practice

### Comments

'''
Comments can be given by using hashtag'#'. It makes the code more readable. we can also use 'triple quotes' to give comments

'''

## Datatypes

Data means information.
Type means which type of information we are having.

TYPES :
1. int - Starts with Zero to whole numbers. It contains only whole numbers.
2. float - Contains only decimal values
3. complex - Contains vectors
4. boolean - True, False. The 'T' and 'F' should be captial letter
5. string - Contains number or group of character within single or double quotes.

In [3]:
#int

a = 5
print(a)
print(type(a))

5
<class 'int'>

In [5]:
#float

k = 1000.5
print(k)
print("The datatype of k is", type(k))

1000.5
The datatype of k is <class 'float'>

In [7]:
#complex

v = 2j
print(v)
print("The datatype of v is", type(v))

2j
The datatype of v is <class 'complex'>

In [9]:
#boolean

b = True
c = 4
print(b)
print("The datatype of b is", type(b))
print(c)
print("The datatype of c is", type(c))

True
The datatype of b is <class 'bool'>
4
The datatype of c is <class 'int'>

In [11]:
#string

g = '3'
h = 'Python'
print(g)
print("The datatype of g is", type(g))
print(h)
print("The datatype of h is", type(h))

3
The datatype of g is <class 'str'>
Python
The datatype of h is <class 'str'>

## Converting Datatypes

In [14]:
#i)
q = 5
print("The datatype of q is", type(q))

#First assign a variable and then give the datatype to which you want to convert
#I am going to convert int to float.

s = float(q)
print("The datatype of s is", type(s))
print(s)

The datatype of q is <class 'int'>
The datatype of s is <class 'float'>
5.0

In [16]:
#ii)
w = '999'
print("The datatype of w is", type(w))

#convert str to int. 
#converting str to int is possible, only we have whole numbers within the single quotes

z = int(w)
print("The datatype of z is", type(z))
print(z)

The datatype of w is <class 'str'>
The datatype of z is <class 'int'>
999

In [18]:
#iii)
t = 55.87654
print("The datatype of t is", type(t))

#convert float to int, str
r = int(t)
o = str(t)
print("The datatype of r is", type(r))
print("The datatype of o is", type(o))
print(r)
print(o)

The datatype of t is <class 'float'>
The datatype of r is <class 'int'>
The datatype of o is <class 'str'>
55
55.87654

## Arrays


ADVANTAGES:
1. With the help of array, I can able to assign more values in one variable once I set the range
2. With the help of Index, I can able to access the values

DISADVANTAGES:
1. Mixed datatypes are not allowed in array
(i.e. the values should be in same datatype)

## Data Structure

Data structure means how we are storing a collection of data

#### Types of data structure


4 types of data structure
1. List
2. Set
3. Tuple
4. Dictionary